.choose-block {
    width: 100%;
    max-width: 140px;
    padding: 0 10px;

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

.choose-block h3 {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-top: 20px;

}

.choose-block h3:hover {
    text-decoration: none;
    color: #000;
    outline: none;
}

.choose-block img {

    max-width: 110px;
}

.products-main-circle {
    margin-top: 100px;
}

.products-main-circle ul {
    position: relative;
    height: 550px;
    width: 550px;
    padding-left: 0;
    display: block;
    border: 5px solid #3F3F3F;
    border-radius: 50%;
}

.production-main-circle > ul:before {
    content: "";
    width: 550px;
    height: 550px;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 5px solid #3F3F3F;
}

.production-main-circle > ul:after {
    content: "";
    width: 550px;
    display: block;
    height: 550px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #3F3F3F;
}

.products-main-circle > ul > li {
    background-color: aliceblue;
    border-radius: 50%;
    width: 110px;
    position: absolute;
    top: 50px;
    box-shadow: 0 0 10px #333;
    height: 110px;
}

.products-main-circle > ul > li:first-child {
    background-color: aliceblue;
    border-radius: 50%;
    width: 110px;
    position: absolute;
    top: -9%;
    list-style: none;
    left: 50%;
    height: 110px;
    transform: translate(-50%, 0%);
}

.products-main-circle > ul > li:nth-child(3) {
    right: 0;
}

.products-main-circle > ul > li:nth-child(4) {
    margin-top: 200px;
    left: -50px;
}

.products-main-circle > ul > li:nth-child(5) {
    right: -50px;
    margin-top: 200px;
}

.products-main-circle > ul > li:nth-child(6) {

        top: auto;
    bottom: -9%;
    list-style: none;
    left: 50%;

    transform: translate(-50%, 0%);
}

.products-main-circle > ul > li > a {

}

.container-proj {
    width: 300px;
    height: 300px;
    border: 9px solid #5c5959;
    border-radius: 50%;
    display: flex;
    position: relative;
    transform: scale(0.9);
    justify-content: center;
    align-items: center;
}
.container-proj:before {
    content: "";
    width: 300px;
    height: 300px;
    border: 9px solid #7c797a;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
    display: none;
}
.container-proj.double-circle {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-proj.double-circle:before {
    display: block;
}

.mt-130 {
    margin-top: 130px;
}

.nav-tabs {
    border-bottom: none;
}

.mt-100 {
    margin-top: 100px;
}

.field {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px #ccc;

}

.title-default {
    font-size: 60px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #3F3F3F;
    text-transform: uppercase;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    display: table;
    border-bottom: 2px solid #3F3F3F;
}

.tab-content {
    margin-top: 30px;
}

.centered-title-proj {
    font-size: 23px;
    text-transform: uppercase;
}

.field:hover span {
    transition: all .2s ease-in-out;
    border: 2px solid #595859;
    color: #595859;
}

.field:hover {
    transition: all .2s ease-in-out;

    color: #595859;
}

.field:focus {
    transition: all .2s ease-in-out;
    color: #fff;
    background: #a0a0aa;
    background: -moz-linear-gradient(top, hsla(240,5%,65%,1) 0%, hsla(240,5%,65%,1) 21%, hsla(245,6%,38%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(240,5%,65%,1) 0%,hsla(240,5%,65%,1) 21%,hsla(245,6%,38%,1) 100%);
    background: linear-gradient(to bottom, hsla(240,5%,65%,1) 0%,hsla(240,5%,65%,1) 21%,hsla(245,6%,38%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0aa', endColorstr='#5b5a66',GradientType=0 );
}

.field:focus span{
    transition: all .2s ease-in-out;
    border: 4px solid #fff;
    color: #fff;

}

.field span {
    border-radius: 50%;
    border: 2px solid #a9a5a6;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: #a9a5a6;
}

.modal-menu-container {
    display: none;
}

.toggle-content {
    border-left: 2px solid #3F3F3F;
    padding-left: 15px;
}

.modal-menu-container h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3F3F3F;
    font-family: 'Nunito Sans', sans-serif;
}

.modal-menu-container p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

.modal-menu-container ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-menu-container ul li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

.mw-200 {
    width: 100%;
    max-width: 200px;
}


.hover-img, .focus-img {
    display: none;
}

.focus-img:hover .focus-img {
    display: none;
}

.choose-block:hover > .static-img, .focus-img {
    display: none;
}

.choose-block:focus > .static-img, .hover-img {
    display: none;
}

.choose-block:focus > .focus-img {
    display: block;
}

.choose-block:hover .hover-img {
    display: block;
}

.choose-block:hover .focus-img {
    display: none;
}

.choose-block.active .focus-img {
    display: block !important;
}
.choose-block.active .static-img {
    display: none !important;
}

.choose-block.active:hover .hover-img {
    display: none;
}


/*----------------------------------------- menu circular ---------------------------------------------------*/

.circular-menu {
    display: block;
    position: relative;
    margin: 30px auto;
    list-style: none;
    padding: 0;

    transform: scale(.9);
}

.circular-menu-container {
    align-items: center;
    /*display: flex;*/
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;
}
.circular-menu li {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 4px 2px 15px rgba(0,0,0, .5);
    background-color: #fff;
    text-align: left;
}
.circular-menu li:last-child {
    background-color: #fff !important;
}
.circular-menu li:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.025) !important;
    transform: translate(-50%, -50%) scale(1.025) !important;
}
.circular-menu li:hover .progress__value, .circular-menu .focus .progress__value {
    stroke-dashoffset: 0% !important;
}



.circular-menu li svg {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.circular-menu li .progress__value {
    fill: none;
    transition: all 1s ease-in-out;
}
.circular-menu li a {
    display: block;
    position: absolute;
    z-index: 500;
    width: auto;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    left: 50%;
    top: 8px;
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 25px;
}
.circular-menu li h3 {
    color: #545354;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    white-space: wrap;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}


.modal-menu-container {

    display: none;
}

.toggle-content {
    border-left: 2px solid #3F3F3F;
    padding-left: 15px;
}

.modal-menu-container h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3F3F3F;
    font-family: 'Nunito Sans', sans-serif;
}

.modal-menu-container p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

.modal-menu-container ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-menu-container ul li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}


.mw-200 {
    width: 100%;
    max-width: 200px;
}


.progress {
    display: -ms-flexbox;
    display: block;
    height: auto;
    overflow: hidden;
    font-size: initial;
    background-color: transparent;
    border-radius: 0;
}

.info-circular {
    position: absolute;
    top: 6%;
    right: 0;
}

@media screen and (min-width: 960px) and (min-height: 540px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(.6);
    }

    .info-circular {
        position: absolute;
        top: 20%;
        right: 2%;
    }

    .modal-menu-container h2 {
        font-size: 25px;
    }

    .modal-menu-container p, .modal-menu-container ul li {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
    .info-circular {
        position: absolute;
        top: 5%;
        right: 0%;
    }


}

@media screen and (min-width: 1080px) and (min-height: 1920px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(.9);
    }

    .info-circular {
        position: absolute;
        top: 0;
        right: 0;
    }


}

@media screen and (min-width: 1200px) and (min-height: 1920px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(1.1);
    }

    .info-circular {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 1280px) and (min-height: 720px) {

    .circular-menu {
        margin-top: 0;
        transform: scale(.8);
    }
}

@media screen and (max-height: 960px) {
    .title-default {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .choose-block,
    .choose-block img {
        max-width: 60px;
        width: 100%;
    }
    .choose-block h3 {
        font-size: 10px;
        margin-top: 5px;
    }
    .container-proj,
    .container-proj:before {
        width: 150px;
        height: 150px;
    }
    .container-proj.double-circle {
        width: 350px;
        height: 350px;
    }
    .field {
        width: 70px;
        height: 70px;
    }
    .field span {
        font-size: 8px;
    }
    .tab-content {
        margin-top: 5px;
    }

    .centered-title-proj {
        font-size: 11px;
    }


}

.circular-projects {

}

.title-h2-default {
    margin: 20px auto;
    border-top: 4px solid #545354;
    border-bottom: 4px solid #545354;
    padding: 0 25px 0 0;
    text-transform: uppercase;
    color: #545354;
    position: relative;
    font-size: 60px;
    font-family: 'Nunito Sans', sans-serif;
    display: table;
    font-weight: 600;
}

.service-height {
    height: 82%;
}