@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.woff2') format('woff2'),
         url('fonts/Montserrat-Light.woff') format('woff'),
         url('fonts/Montserrat-Light.ttf') format('truetype');   
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.woff2') format('woff2'),
         url('fonts/Montserrat-Medium.woff') format('woff'),
         url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.woff') format('woff'),
         url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('fonts/Montserrat-SemiBold.woff') format('woff'),
         url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Thin';
    src: url('fonts/Montserrat-Thin.eot');
    src: url('fonts/Montserrat-Thin.woff2') format('woff2'),
         url('fonts/Montserrat-Thin.woff') format('woff'),
         url('fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-Black.eot');
    src: url('fonts/Montserrat-Black.woff2') format('woff2'),
         url('fonts/Montserrat-Black.woff') format('woff'),
         url('fonts/Montserrat-Black.ttf') format('truetype');       
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
         url('fonts/Montserrat-Bold.woff') format('woff'),
         url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat-ExtraBold.eot');
    src: url('fonts/Montserrat-ExtraBold.woff2') format('woff2'),
         url('fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('fonts/Montserrat-ExtraLight.eot');
    src: url('fonts/Montserrat-ExtraLight.woff2') format('woff2'),
         url('fonts/Montserrat-ExtraLight.woff') format('woff'),
         url('fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.choose-block {
    width: 100%;
    max-width: 125px;
    max-height: 125px;
    padding: 0 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.choose-block h3 {
    font-size: 16px;
    font-family: 'Montserrat-Medium';
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
}

.choose-block h3:hover {
    text-decoration: none;
    color: #000;
    outline: none;
}

.choose-block img {
    border-radius: 50%;
    box-shadow: 3px 3px 20px #ccc;
    max-width: 75px;
    padding: 15px;
    width: 100%;
    height: 75px;
}

.products-main-circle {
    margin-top: 100px;
}

.products-main-circle ul {
    position: relative;
    height: 550px;
    width: 550px;
    padding-left: 0;
    display: block;
    border: 5px solid #3F3F3F;
    border-radius: 50%;
}

.production-main-circle > ul:before {
    content: "";
    width: 550px;
    height: 550px;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 5px solid #3F3F3F;
}

.production-main-circle > ul:after {
    content: "";
    width: 550px;
    display: block;
    height: 550px;
    position: relative;
    border-radius: 50%;
    border: 5px solid #3F3F3F;
}

.products-main-circle > ul > li {
    background-color: aliceblue;
    border-radius: 50%;
    width: 110px;
    position: absolute;
    top: 50px;
    box-shadow: 0 0 10px #333;
    height: 110px;
}

.products-main-circle > ul > li:first-child {
    background-color: aliceblue;
    border-radius: 50%;
    width: 110px;
    position: absolute;
    top: -9%;
    list-style: none;
    left: 50%;
    height: 110px;
    transform: translate(-50%, 0%);
}

.products-main-circle > ul > li:nth-child(3) {
    right: 0;
}

.products-main-circle > ul > li:nth-child(4) {
    margin-top: 200px;
    left: -50px;
}

.products-main-circle > ul > li:nth-child(5) {
    right: -50px;
    margin-top: 200px;
}

.products-main-circle > ul > li:nth-child(6) {
    top: auto;
    bottom: -9%;
    list-style: none;
    left: 50%;
    transform: translate(-50%, 0%);
}

.tab-content>.active {
    width: 100%;
}

.container-proj {
    width: 300px;
    height: 300px;
    border: 5px solid #f0f0ef;
    border-radius: 50%;
    display: flex;
    position: relative;
    transform: scale(0.9);
    justify-content: center;
    align-items: center;
}

.container-proj:before {
    content: "";
    width: 370px;
    height: 370px;
    border: 5px solid #d8e1eb;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
    display: none;
}

.container-proj.double-circle {
    width: 750px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-proj.double-circle:before {
    display: block;
}

.mt-130 {
    margin-top: 130px;
}

.nav-tabs {
    border-bottom: none;
}

.mt-100 {
    margin-top: 100px;
}

.field {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px #ccc;
}

.title-default {
    font-size: 60px;
    font-family: 'Montserrat-Medium';
    text-align: center;
    color: #3F3F3F;
    text-transform: uppercase;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    display: table;
    border-bottom: 2px solid #3F3F3F;
}

.tab-content {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.centered-title-proj {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 100px;
    text-align: center;
}

.field:hover span {
    transition: all .2s ease-in-out;
    border: 2px solid #b4ceea;
    color: #595859;
}

.field:hover {
    transition: all .2s ease-in-out;
    color: #595859;
}

.field:focus {
    transition: all .2s ease-in-out;
    color: #fff;
    background-color: #b4ceea;
}

.field:focus span{
    transition: all .2s ease-in-out;
    border: 3px solid #fff;
    color: #fff;
}

.field span {
    border-radius: 50%;
    border: 2px solid #b4ceea;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 100%;
    color: #a9a5a6;
}

.modal-menu-container {
    display: none;
}

.toggle-content {
    border-left: 2px solid #3F3F3F;
    padding-left: 15px;
}

.modal-menu-container h2 {
    font-size: 30px;    
    text-transform: uppercase;
    color: #3F3F3F;
    font-family: 'Montserrat-Bold';
}

.modal-menu-container p {
    font-size: 16px;    
    font-family: 'Montserrat-Regular';
}

.modal-menu-container ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-menu-container ul li {
    font-size: 16px;   
    font-family: 'Montserrat-Regular';
}

.mw-200 {
    width: 100%;
    max-width: 200px;
}

.hover-img, .focus-img {
    display: none;
}

.focus-img:hover .focus-img {
    display: none;
}

.choose-block:hover > .static-img, .focus-img {
    display: none;
}

.choose-block:focus > .static-img, .hover-img {
    display: none;
}

.choose-block:focus > .focus-img {
    display: block;
}

.choose-block:hover .hover-img {
    display: block;
}

.choose-block:hover .focus-img {
    display: none;
}

.choose-block.active .focus-img {
    display: block !important;
}
.choose-block.active .static-img {
    display: none !important;
}

.choose-block.active:hover .hover-img {
    display: none;
}


.choose-block:hover .hover-img {
    background-color: #d3dde8;
}

.choose-block.active:hover > .hover-img {
    display: block;
}

.choose-block.active > .hover-img {
    background: #72a6db;
    display: block;
    background: -moz-linear-gradient(left, hsla(210,59%,65%,1) 0%, hsla(209,56%,75%,1) 100%);
    background: -webkit-linear-gradient(left, hsla(210,59%,65%,1) 0%,hsla(209,56%,75%,1) 100%);
    background: linear-gradient(to right, hsla(210,59%,65%,1) 0%,hsla(209,56%,75%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a6db', endColorstr='#9dc1e3',GradientType=1 );
}

/*----------------------------------------- menu circular ---------------------------------------------------*/

.circular-menu {
    display: block;
    position: relative;
    margin: 0px auto;
    list-style: none;
    padding: 0;
}

.circular-menu-container {
    align-items: center;
    border-bottom: 1px solid #adc4da;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 30px;    
    padding: 0 0 30px 0;
}

.circular-menu li {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 4px 2px 15px rgba(0,0,0, .5);
    background-color: #fff;
    text-align: left;
}

.circular-menu li:last-child {
    background-color: #fff !important;
}

.circular-menu li:hover {
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.circular-menu li:hover .progress__value, .circular-menu .focus .progress__value {
    stroke-dashoffset: 0% !important;
    stroke: #ADC4DB;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out ;
    -ms-transition: all .3s ease-in-out ;
    -o-transition: all .3s ease-in-out ;
    transition: all .3s ease-in-out ;
}

.circular-menu li svg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.circular-menu li .progress__value {
    fill: none;
    transition: all 1s ease-in-out;
}
.circular-menu li a {
    display: block;
    position: absolute;
    z-index: 500;
    width: auto;    
    font-family: 'Montserrat-Regular';
    left: 50%;
    top: 8px;
    font-size: 25px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    color: #545354;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 0px;
}
.circular-menu li h3 {
    color: #545354;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Bold';
    width: 100%;
    white-space: wrap;
    text-transform: uppercase;   
    font-size: 28px;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-menu-container {
    display: none;
}

.toggle-content {
    border-left: 2px solid #74A7DB;
    padding-left: 15px;
}

.modal-menu-container h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: #74A7DB;
    font-family: 'Montserrat-Bold';
}

.modal-menu-container p {
    font-size: 16px;    
    font-family: 'Montserrat-Regular';
}

.modal-menu-container ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-menu-container ul li {
    font-size: 16px;    
    font-family: 'Montserrat-Regular';
}

.mw-200 {
    width: 100%;
    max-width: 200px;
}

.progress {
    display: -ms-flexbox;
    display: block;
    height: auto;
    overflow: hidden;
    font-size: initial;
    background-color: transparent;
    border-radius: 0;
}

.circular-projects .nav-tabs li {
    display: block;
    height: 100%;
}

.circular-projects .nav-tabs li a {
    display: block;
    position: relative;
    z-index: 500;
}

.info-circular {
    position: absolute;
    top: 4% !important;
    right: 0 !important;
}

@media screen and (min-width: 960px) and (min-height: 540px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(.6);
    }

    .info-circular {
        position: absolute;
        top: 20% ;
        right: 2%;
    }

    .modal-menu-container h2 {
        font-size: 20px;
    }

    .modal-menu-container p, .modal-menu-container ul li {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
    .info-circular {
        position: absolute;
        top: 5%;
        right: 0%;
    }
}

@media screen and (min-width: 1080px) and (min-height: 1920px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(.9);
    }

    .info-circular {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 1200px) and (min-height: 1920px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(1.1);
    }

    .info-circular {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 1280px) and (min-height: 720px) {
    .circular-menu {
        margin-top: 0;
        transform: scale(.8);
        margin-bottom: 0;
    }
}

@media screen and (max-height: 760px) {
    .title-default {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .choose-block,
    .choose-block img {
        max-width: 100px;
        width: 100%;
    }
    .choose-block h3 {
        font-size: 10px;
        margin-top: 5px;
    }
    .container-proj,
    .container-proj:before {
        width: 200px;        
        height: 200px;
    }
    .container-proj.double-circle {
        width: 450px;        
        height: 450px;
    }
    .field {
        width: 100px;
        height: 100px;
    }
    .field span {
        font-size: 12px;
    }
    .tab-content {
        padding-top: 50px;
    }

    .centered-title-proj {
        font-size: 14px;
    }
}

.circular-projects {
    display: flex;
}

.title-h2-default {
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
    position: relative;
    font-family: 'Montserrat-Regular';
    font-size: 40px;
    display: block;    
    text-align: center;
}

.title-and-descr-height p {
    font-size: 16px;
    font-family: 'Montserrat-Regular';    
    color: #000;
}

.service-height {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
}

.head-tab-container {
    display: flex;
    flex-direction: column;
}

.flex-style {
    display: flex;
    justify-content: center;
}

.centered-style {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items-menu-circle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.m0-auto {
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

.items-menu-circle {
    transform: scale(0.8);
}

.margin-25 {
    margin: 25px 0;
}
@media screen and (max-width: 1200px) {
    .info-circular {
        max-width: 170px;
    }

    .modal-menu-container h2 {
        font-size: 20px !important;
    }

    .toggle-content {
        padding-left: 10px;
    }

    .modal-menu-container p, .modal-menu-container ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px){

    .circular-projects{
        height: auto!important;
    }

    .choose-block h3 {
        font-size: 16px;
    }

    .tab-content {
        padding-top: 0;
    }
    .circular-menu li a {
        font-size: 18px;
    }


    .field span {
        font-size: 16px;
    }

    .field {
        width: 120px;
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 120px;
        border-radius: 50%;
        z-index: 99999;
        vertical-align: top;
        position: relative;
        margin: 0 5px;
        background: #fff;
        padding: 5px;
        box-shadow: 0 0 10px #ccc;
    }

    .field:nth-child(2n-1) {
        margin-top: 35px;
    }

    .items-menu-circle {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .container-proj.double-circle {
        width: 100%;
        height: auto;
        border: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-proj:before, .centered-title-proj {
        display: none !important;
    }
    .circular-menu-container {     
        display: block;
        height: auto;     
        padding: 0;
        overflow: hidden;
    }
    .info-circular {
        position: relative;
        top: 0 !important;
        margin: 40px auto;
        max-width: none;
        padding: 0 20px;
    }


    .flex-style {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .circular-menu li h3 {
        top: 30%;
        font-size: 22px;
    }

    .modal-menu-container h2 {
        font-size: 20px;
    }

    .circular-menu {
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        transform: scale(1) !important;
    }

    .circular-menu-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        overflow: hidden;
    }
    
    .head-tab-container {
        display: block;
    }
    
    .container-proj {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);

        width: 100%;
        height: auto;
        border: none;
        border-radius: initial;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .centered-style {
        display: block;
    }

    .tab-content {
        height: auto;
        margin-top: 30px;
    }

    .circular-project {
        height: auto !important;
    }

    .items-menu-circle {
        transform: scale(1);
    }
}


.modal-menu-container p, .modal-menu-container ul li {
    font-size: 14px;
}


.circular-menu-wrapper {
    height: auto;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 420px) {
    .tab-content {
        padding-top: 0px;
    }

    .field:nth-child(2n-1) {
        margin: 10px 5px;
    }

    .field {
        margin: 10px 5px;
    }
}

/* GRID MATriX */

body {
    font-family: 'Montserrat-Regular';
    margin: 0;
    padding: 0;   
}

.title-h2-default {
    color: #2a3037;
    font-size: 40px;
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    margin: 45px 0;
    text-align: center;
}

.view {
    overflow: hidden;
    position: relative;    
    cursor: pointer;
    background: #fff;
  }
  
  .view .mask,
  .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in-out;
  }
  
  .view img {
    display: block;
    position: relative
  }
  
  .view p {   
    position: relative;
    color: #fff;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Montserrat-Light';    
    margin: 0 0 10px;
  }
  
  .view a.info {
    text-decoration: none;    
    color: #51bac2;
    font-family: 'Montserrat-Medium';
    position: absolute;
    display: inline-block;
    font-size: 20px;
    right: 0;
    transform: translate(-20px, -10px) !important;
    bottom: 0;
  }
 
  .view-first img {
    transition: all 0.2s linear;
    width: 100%;
    height: 100%;
  }
  
  .view-first .mask {
    opacity: 0;
    background-color: rgba(42, 48, 55, 0.8);
    transition: all 0.4s ease-in-out;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
  }
    
  .view-first p {
    transform: translateY(100px);
    opacity: 0;   
    transition: all 0.2s linear;
  }
  
  .view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
    
  .view-first:hover img {
    transform: scale(1.1);
  }
  
  .view-first:hover .mask {
    opacity: 1;
  }
    
  .view-first:hover p,
  .view-first:hover a.info {
    opacity: 1;
    transform: translateY(15px);
  }
  
  .view-first:hover p {
    transition-delay: 0.1s;
  }
  
  .view-first:hover a.info {
    transition-delay: 0.1s;
  } 

  .title-on-item {
    background-color: rgba(42, 48, 55, 0.8);
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0;
  }

  .title-on-item h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    padding: 25px 0;
    font-weight: 500;
    z-index: 9999;
    color: #fff;
  }

  .item-gallery {
    width: 25%;    
    position: relative;    
  }

  .wrapper-gallery {
    display: flex;
  }

  /* AMEDIA SCREEN STYLES */

  @media screen and (max-width: 1440px) {
    .title-on-item h2 {
        font-size: 18px;
    }

    .view p {
        font-size: 15px;
    }

    .view a.info {
        font-size: 18px;
    }
  }

  @media screen and (max-width: 1330px){
    .title-on-item h2 {
        font-size: 17px;
    }

    .view p {
        font-size: 13px;
    }

    .view a.info {
        font-size: 16px;
    }
  }

  @media screen and (max-width: 1200px){
    .view-first .mask {
        padding: 0 20px;
    }
  }

  @media screen and (max-width: 1070px){
    .title-on-item h2 {
        font-size: 15px;
        padding: 15px 0;
    }
  }

  @media screen and (max-width: 1020px){
    .view-first:hover p, .view-first:hover a.info {
        transform: translateY(0px);
    }

    .view p {
        font-size: 13px;
    }

    .view a.info {
        font-size: 15px;
    }
  }

  @media screen and (max-width: 992px) {
    .wrapper-gallery {
        flex-wrap: wrap;
    }

    .item-gallery {
        width: 50%;
    }

    .title-on-item h2 {
        font-size: 20px;
        padding: 20px 0;
    }

    .view p {
        font-size: 16px;
    }

    .view a.info {
        font-size: 20px;
    }

    .view-first:hover p, .view-first:hover a.info {
        transform: translateY(20px);
    }
  }

  @media screen and (max-width: 630px){
    .item-gallery {
        width: 100%;
    }
  }